header {
	background-color: #ffffff;
	margin-top: 0px;
	height: 100px;
	width: 100%;
}

header > div {

}

header div.name {

}

header h1 {

}

header nav {

}

header li {

}

header li a {

}

footer {

}

footer > div {

}

footer p {
	
}